#darkBody {
  color: #ffffff;
}

.edu-list {
  list-style-type: none;
}

#edu {
  margin-left: 0px !important;
}

#app-body {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#level {
  font-family: "Sriracha";
  font-size: 20px;
}

#lightBody {
  justify-content: center;
}
