#profilePicture {
    height: 100px;
    width: 100px;
    margin-left: 15px;
    margin-top: 10px;
}

#contactInfo {
    margin-left: 15px;
}

.nav-item {
    color: #00477d; 
}

#sideNav {
    margin-top: 20px;
    margin-left: 10px;
}